<h1>Register</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-3 fila">
      <form action="">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Nombre</label>
        </div>
        <select class="form-select" aria-label="Default select example">
          <option>Tipo de documento</option>
          <option value="1">CC</option>
          <option value="2">TI</option>

        </select>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Fecha de nacimiento</label>
        </div>

        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email</label>
        </div>
      </form>


    </div>
    <div class="col-3 fila">
      <form action="">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Apellidos</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Numero de documento</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Genero</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Contraseña</label>
        </div>
     </form>


  </div>
  <div class="contenedor-btn">
    <button type="button" class="btn btn-primary">Enviar</button>
  </div>

  <div class="col-3"></div>

</div>
